<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:iis="http://schemas.microsoft.com/wix/IIsExtension">

    <Product
        Id="*"
        UpgradeCode="{59D9A7F7-3A19-4A93-B361-C6D21168F76B}"
        Name="HOPEX GraphQL API"
        Language="1033"
        Version="!(bind.FileVersion.Macro.Hopex.WebService.dll)"
        Manufacturer="MEGA">

        <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

        <MajorUpgrade AllowSameVersionUpgrades="yes" DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

        <MediaTemplate EmbedCab="yes" />

        <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />

        <UIRef Id="CustomFeatureTree" />

        <Feature Id="MacroFeature" Title="Mega Macro GraphQL" Level="1" ConfigurableDirectory="HOPEX_BACKEND_FOLDER_DOTNET" AllowAdvertise="no">
            <ComponentGroupRef Id="MacroConfigFiles" />
            <ComponentGroupRef Id="MacroConfigV3StandardFiles" />
            <ComponentGroupRef Id="MacroConfigV3CustomFiles" />
            <ComponentGroupRef Id="MacroFiles" />
            <ComponentRef Id="RegistryMacroEntries" />
            <ComponentRef Id="RegistryCommonEntries"/>
        </Feature>
        <Feature Id="WebServiceFeature" Title="Mega WebService GraphQL" Level="1" ConfigurableDirectory="HOPEX_FRONTEND_FOLDER_FINAL" AllowAdvertise="no">
            <ComponentGroupRef Id="WebServiceFiles" />
            <ComponentGroupRef Id="WebServiceBinFiles" />
            <ComponentGroupRef Id="WebServiceContentFiles" />
            <ComponentGroupRef Id="WebServiceViewsFiles" />
            <ComponentGroupRef Id="WebServiceViewsHomeFiles" />
            <ComponentGroupRef Id="HOPEXGraphQLIssConfiguration" />
            <ComponentRef Id="RegistryWebServiceEntries" />
            <ComponentRef Id="RegistryCommonEntries"/>
        </Feature>

        <Property Id="HOPEX_BACKEND_FOLDER" />
        <Property Id="HOPEX_V3_BACKEND_FOLDER">
            <RegistrySearch Id="Hopex_V3" Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Uninstall\{701985D0-72D5-453B-80AC-5CC1AD7BD1EA}" Name="InstallLocation" Type="directory" Win64="yes" />
        </Property>
        <Property Id="HOPEX_BACKEND_FOLDER_APPSEARCH">
            <RegistrySearch Id="Hopex_BackEnd_Folder" Root="HKLM" Key="Software\MEGA\HOPEX\Install" Name="InstallLocation-BackEnd" Type="directory" />
        </Property>
        <SetProperty Id="HOPEX_BACKEND_FOLDER_FINAL" After="AppSearch" Value="C:\Program Files (x86)\MEGA\HOPEX V3" Action="HopexBackEndFolder0">
            <![CDATA[NOT HOPEX_V3_BACKEND_FOLDER AND NOT HOPEX_BACKEND_FOLDER_APPSEARCH AND NOT HOPEX_BACKEND_FOLDER]]>
        </SetProperty>
        <SetProperty Id="HOPEX_BACKEND_FOLDER_FINAL" After="HopexBackEndFolder0" Value="[HOPEX_V3_BACKEND_FOLDER]" Action="HopexBackEndFolder1">
            <![CDATA[HOPEX_V3_BACKEND_FOLDER]]>
        </SetProperty>
        <SetProperty Id="HOPEX_BACKEND_FOLDER_FINAL" After="HopexBackEndFolder1" Value="[HOPEX_BACKEND_FOLDER_APPSEARCH]" Action="HopexBackEndFolder2">
            <![CDATA[HOPEX_BACKEND_FOLDER_APPSEARCH]]>
        </SetProperty>
        <SetProperty Id="HOPEX_BACKEND_FOLDER_FINAL" After="HopexBackEndFolder2" Value="[HOPEX_BACKEND_FOLDER]" Action="HopexBackEndFolder3">
            <![CDATA[HOPEX_BACKEND_FOLDER]]>
        </SetProperty>

        <Property Id="HOPEX_FRONTEND_FOLDER" />
        <Property Id="HOPEX_FRONTEND_FOLDER_APPSEARCH">
            <RegistrySearch Id="Hopex_FrontEnd_Folder" Root="HKLM" Key="Software\MEGA\HOPEX\Install" Name="InstallLocation-FrontEnd" Type="directory" />
        </Property>
        <SetProperty Id="HOPEX_FRONTEND_FOLDER_FINAL" After="AppSearch" Value="[HOPEX_FRONTEND_FOLDER_APPSEARCH]" Action="HopexFrontEndFolder1">
            <![CDATA[HOPEX_FRONTEND_FOLDER_APPSEARCH]]>
        </SetProperty>
        <SetProperty Id="HOPEX_FRONTEND_FOLDER_FINAL" After="HopexFrontEndFolder1" Value="[HOPEX_FRONTEND_FOLDER]" Action="HopexFrontEndFolder2">
            <![CDATA[HOPEX_FRONTEND_FOLDER]]>
        </SetProperty>

        <Property Id="HOPEX_VERSION" />
        <Property Id="HOPEX_VERSION_APPSEARCH">
            <RegistrySearch Id="Hopex_Version" Root="HKLM" Key="Software\MEGA\HOPEX\Install" Name="Version" Type="raw" />
        </Property>
        <SetProperty Id="HOPEX_VERSION_FINAL" After="AppSearch" Value="[HOPEX_VERSION_APPSEARCH]" Action="HopexVersion1">
            <![CDATA[HOPEX_VERSION_APPSEARCH]]>
        </SetProperty>
        <SetProperty Id="HOPEX_VERSION_FINAL" After="HopexVersion1" Value="[HOPEX_VERSION]" Action="HopexVersion2">
            <![CDATA[HOPEX_VERSION]]>
        </SetProperty>

        <!--<Condition Message="This application requires Hopex V3 or later. Please install it and then run this installer again.">
            <![CDATA[Installed OR HOPEX_V3_BACKEND_FOLDER OR HOPEX_VERSION OR HOPEX_VERSION_APPSEARCH]]>
        </Condition>-->


        <Property Id="HOPEX_CHAINED_INSTALL" Value="0" />
        <Property Id="SSP_URL" Value="http://localhost/MEGASSP" />
        <Property Id="UAS_URL" Value="http://localhost/UAS" />
        <Property Id="SECURITY_KEY" Secure="yes" />
        <Property Id="ACTIVATE_GRAPHIQL" Secure="yes"></Property>
        <Property Id="ENVIRONMENT_ID" Value="EnvironmentIdAbs" />
        <Property Id="REPOSITORY_ID" Value="RepositoryIdAbs" />
        <Property Id="PROFILE_ID" Value="ProfileIdAbs" />
        <Property Id="GRAPHIQL_USER" Value="HopexUser" />
        <Property Id="GRAPHIQL_USER_PASSWORD" Value="HopexPassword" />

        <Property Id="FRAMEWORKBASEPATH">
            <RegistrySearch Id="FindFrameworkDir" Root="HKLM"  Key="Software\Microsoft\.NETFramework"  Name="InstallRoot" Type="raw">
            </RegistrySearch>
        </Property>
        <Property Id="ASPNETREGIIS">
            <DirectorySearch Path="[FRAMEWORKBASEPATH]" Depth="4" Id="FindAspNetRegIis">
                <FileSearch Name="aspnet_regiis.exe" MinVersion="2.0.5" />
            </DirectorySearch>
        </Property>
        <CustomAction Directory="HOPEXGraphQL" Execute="deferred" Id="EncryptWebConfig" ExeCommand="[ASPNETREGIIS] -pe secureAppSettings -app /HOPEXGraphQL" Return="ignore">
            <![CDATA[&WebServiceFeature=3]]>
        </CustomAction>
        <InstallExecuteSequence>
            <Custom Action="EncryptWebConfig" Before="InstallFinalize"></Custom>
        </InstallExecuteSequence>

    </Product>

    <Fragment>
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder">
                <Directory Id="MEGA" Name="MEGA">
                    <Directory Id="HOPEX_BACKEND_FOLDER_FINAL" Name="HOPEX">
                        <Directory Id="HOPEX_BACKEND_FOLDER_DOTNET" Name="DotNet">
                            <Directory Id="Macro" Name="hopex.graphql" >
                                <Directory Id="MacroVersion" Name="1.0.0.0">
                                    <Directory Id="MacroConfig" Name="CONFIG">
                                        <Directory Id="MacroConfigV3" Name="V3">
                                            <Directory Id="MacroConfigV3Custom" Name="Custom">
                                            </Directory>
                                            <Directory Id="MacroConfigV3Standard" Name="Standard">
                                            </Directory>
                                        </Directory>
                                    </Directory>
                                </Directory>
                            </Directory>
                        </Directory>
                    </Directory>
                </Directory>
            </Directory>
            <Directory Id="inetpub" Name="inetpub">
                <Directory Id="HOPEX_FRONTEND_FOLDER_FINAL" Name="wwwroot">
                    <Directory Id="HOPEXGraphQL" Name="HOPEXGraphQL">
                        <Directory Id="BinFolder" Name="bin">
                        </Directory>
                        <Directory Id="ContentFolder" Name="Content">
                        </Directory>
                        <Directory Id="ViewsFolder" Name="Views">
                            <Directory Id="ViewsHomeFolder" Name="Home">
                            </Directory>
                        </Directory>
                    </Directory>
                </Directory>
            </Directory>
        </Directory>
    </Fragment>

    <Fragment>
        <iis:WebSite Id="DefaultWebSite" Description='Default Web Site'>
            <iis:WebAddress Id="AllUnassigned" Port="80" />
        </iis:WebSite>
        <DirectoryRef Id="HOPEXGraphQL">
            <Component Id="HOPEXGraphQLAppPool" Guid="{81961616-EF7E-47E6-856C-BC49B1D18079}" KeyPath="yes" Permanent="yes">
                <iis:WebAppPool Id="HOPEXGraphQLAppPool" Name="HOPEXAPI" ManagedPipelineMode="Integrated" ManagedRuntimeVersion="v4.0" />
            </Component>
            <Component Id="HOPEXGraphQLWebApplication" Guid="{17085A1F-BF1E-449F-B495-38012007EB0D}" KeyPath="yes">
                <iis:WebVirtualDir Id="HOPEXGraphQL" Alias="HOPEXGraphQL" Directory="HOPEXGraphQL" WebSite="DefaultWebSite">
                    <iis:WebApplication Id="HOPEXGraphQL" Name="HOPEXGraphQL" WebAppPool="HOPEXGraphQLAppPool" />
                </iis:WebVirtualDir>
            </Component>
        </DirectoryRef>
        <ComponentGroup Id="HOPEXGraphQLIssConfiguration">
            <ComponentRef Id="HOPEXGraphQLAppPool" />
            <ComponentRef Id="HOPEXGraphQLWebApplication" />
        </ComponentGroup>
    </Fragment>

    <Fragment>
        <DirectoryRef Id="TARGETDIR">
            <Component Id="RegistryMacroEntries" Guid="{6CD0AD03-633C-4F9B-997A-BAEA43E9C08F}">
                <RegistryKey Root="HKLM" Key="Software\MEGA\HOPEX GraphQL\Install" Action="createAndRemoveOnUninstall">
                    <RegistryValue Type="string" Name="InstallLocation-BackEnd" Value="[HOPEX_BACKEND_FOLDER_DOTNET]"/>
                </RegistryKey>
            </Component>
            <Component Id="RegistryWebServiceEntries" Guid="{8883DF29-C37E-41C4-9932-8A35DD50257C}">
                <RegistryKey Root="HKLM" Key="Software\MEGA\HOPEX GraphQL\Install" Action="createAndRemoveOnUninstall">
                    <RegistryValue Type="string" Name="InstallLocation-FrontEnd" Value="[HOPEX_FRONTEND_FOLDER_FINAL]"/>
                </RegistryKey>
            </Component>
            <Component Id="RegistryCommonEntries" Guid="{EBEB4D89-F3BB-4B03-9FC9-D7367DD2F25B}">
                <RegistryKey Root="HKLM" Key="Software\MEGA\HOPEX GraphQL\Install" Action="createAndRemoveOnUninstall">
                    <RegistryValue Type="string" Name="Version" Value="[ProductVersion]" />
                    <RegistryValue Type="string" Name="ProductCode" Value="[ProductCode]"/>
                    <RegistryValue Type="string" Name="HopexVersion" Value="[HOPEX_VERSION_FINAL]"/>
                    <RegistryValue Type="integer" Name="ChainedInstall" Value="[HOPEX_CHAINED_INSTALL]"/>
                </RegistryKey>
            </Component>
        </DirectoryRef>
    </Fragment>

</Wix>
