<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <appSettings>
        <add key="EnvironmentId" value="EnvironmentId" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="RepositoryId" value="RepositoryId"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="ProfileId" value="ProfileId"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="Login" value="Login"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="Password" value="Password"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    </appSettings>
    <system.web>
        <compilation xdt:Transform="RemoveAttributes(debug)" />
    </system.web>
</configuration>
