<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

    <Fragment>

        <ComponentGroup Id="MacroConfigFiles" Directory="MacroConfig">
            <Component Id="Config_compatibility_list.json" Guid="{CB9F643F-2F93-4717-B341-FC670007DD3B}">
                <File Id="Config_compatibility_list.json" Name="compatibility_list.json" Source="..\..\..\Exe$(var.Hopex.WebService.Configuration)\HOPEXGraphQL\Macro\CONFIG\compatibility_list.json" />
            </Component>
        </ComponentGroup>

        <ComponentGroup Id="MacroConfigV3StandardFiles" Directory="MacroConfigV3Standard">
            <Component Id="Config_Assessment.json" Guid="{2093D550-1035-4F47-BEBA-628AD58572F0}">
                <File Id="Config_Assessment.json" Name="Assessment.json" Source="..\..\..\Exe$(var.Hopex.WebService.Configuration)\HOPEXGraphQL\Macro\CONFIG\V3\Standard\Assessment.json" />
            </Component>
            <Component Id="Config_Audit.json" Guid="{0BB2AB4E-4ECE-42B9-9518-A1E8ADE0B72F}">
                <File Id="Config_Audit.json" Name="Audit.json" Source="..\..\..\Exe$(var.Hopex.WebService.Configuration)\HOPEXGraphQL\Macro\CONFIG\V3\Standard\Audit.json" />
            </Component>
            <Component Id="Config_BPA.json" Guid="{C243546F-0CE1-48DE-AAA4-1DD63CEB2FF3}">
                <File Id="Config_BPA.json" Name="BPA.json" Source="..\..\..\Exe$(var.Hopex.WebService.Configuration)\HOPEXGraphQL\Macro\CONFIG\V3\Standard\BPA.json" />
            </Component>
            <Component Id="Config_Data.json" Guid="{6B2E4FEA-47E4-4963-BDC3-D29A86BEC9BD}">
                <File Id="Config_Data.json" Name="Data.json" Source="..\..\..\Exe$(var.Hopex.WebService.Configuration)\HOPEXGraphQL\Macro\CONFIG\V3\Standard\Data.json" />
            </Component>
            <Component Id="Config_DataPrivacy.json" Guid="{4ACA6800-4DB5-4B0F-B484-9D0C6F0EC088}">
                <File Id="Config_DataPrivacy.json" Name="DataPrivacy.json" Source="..\..\..\Exe$(var.Hopex.WebService.Configuration)\HOPEXGraphQL\Macro\CONFIG\V3\Standard\DataPrivacy.json" />
            </Component>
            <Component Id="Config_ITPM.json" Guid="{8C1ECD8D-0B96-48D1-87EF-7CF3F41A43FA}">
                <File Id="Config_ITPM.json" Name="ITPM.json" Source="..\..\..\Exe$(var.Hopex.WebService.Configuration)\HOPEXGraphQL\Macro\CONFIG\V3\Standard\ITPM.json" />
            </Component>
            <Component Id="Config_MetaModel.json" Guid="{E12AD817-11F4-4EE0-801B-1228CF61C4D3}">
                <File Id="Config_MetaModel.json" Name="MetaModel.json" Source="..\..\..\Exe$(var.Hopex.WebService.Configuration)\HOPEXGraphQL\Macro\CONFIG\V3\Standard\MetaModel.json" />
            </Component>
            <Component Id="Config_Reporting.json" Guid="{667EAA1F-47E6-448D-AC63-A47243820F52}">
                <File Id="Config_Reporting.json" Name="Reporting.json" Source="..\..\..\Exe$(var.Hopex.WebService.Configuration)\HOPEXGraphQL\Macro\CONFIG\V3\Standard\Reporting.json" />
            </Component>
            <Component Id="Config_Risk.json" Guid="{CEC43209-2588-4E79-B991-911C75616E78}">
                <File Id="Config_Risk.json" Name="Risk.json" Source="..\..\..\Exe$(var.Hopex.WebService.Configuration)\HOPEXGraphQL\Macro\CONFIG\V3\Standard\Risk.json" />
            </Component>
            <Component Id="Config_Workflow.json" Guid="{5DAA710C-265C-4EDC-B177-5827B1927D2A}">
                <File Id="Config_Workflow.json" Name="Workflow.json" Source="..\..\..\Exe$(var.Hopex.WebService.Configuration)\HOPEXGraphQL\Macro\CONFIG\V3\Standard\Workflow.json" />
            </Component>
        </ComponentGroup>

        <ComponentGroup Id="MacroConfigV3CustomFiles" Directory="MacroConfigV3Custom">
            <Component Id="Config_readme.txt" Guid="{11221E0C-90E3-48A2-AA46-FA7A26E1F338}">
                <File Id="Config_readme.txt" Name="readme.txt" Source="..\..\..\Exe$(var.Hopex.WebService.Configuration)\HOPEXGraphQL\Macro\CONFIG\V3\Custom\readme.txt" />
            </Component>
        </ComponentGroup>

        <ComponentGroup Id="MacroFiles" Directory="MacroVersion">
            <Component Id="Macro.GraphQLParser.dll" Guid="{7D699ECF-EE41-417B-8293-C6242FD95F4F}">
                <File Id="Macro.GraphQLParser.dll" Name="GraphQL-Parser.dll" Source="..\..\..\Exe$(var.Hopex.WebService.Configuration)\HOPEXGraphQL\Macro\GraphQL-Parser.dll" />
            </Component>
            <Component Id="Macro.GraphQL.dll" Guid="{F8523445-9405-4745-95D8-675781AE4CBB}">
                <File Id="Macro.GraphQL.dll" Name="GraphQL.dll" Source="..\..\..\Exe$(var.Hopex.WebService.Configuration)\HOPEXGraphQL\Macro\GraphQL.dll" />
            </Component>
            <Component Id="Macro.Hopex.ApplicationServer.WebServices.dll" Guid="{04FCB3F3-B01A-4622-9792-5671356C4D82}">
                <File Id="Macro.Hopex.ApplicationServer.WebServices.dll" Name="Hopex.ApplicationServer.WebServices.dll" Source="..\..\..\Exe$(var.Hopex.WebService.Configuration)\HOPEXGraphQL\Macro\Hopex.ApplicationServer.WebServices.dll" />
            </Component>
            <Component Id="Macro.Hopex.Common.dll" Guid="{DAB8E5A9-E168-42FF-AD5B-A92FD72434A2}">
                <File Id="Macro.Hopex.Common.dll" Name="Hopex.Common.dll" Source="..\..\..\Exe$(var.Hopex.WebService.Configuration)\HOPEXGraphQL\Macro\Hopex.Common.dll" />
            </Component>
            <Component Id="Macro.Hopex.Model.dll" Guid="{4EF9ECCA-97F2-4EC9-9E28-57FEFD60BDFA}">
                <File Id="Macro.Hopex.Model.dll" Name="Hopex.Model.dll" Source="..\..\..\Exe$(var.Hopex.WebService.Configuration)\HOPEXGraphQL\Macro\Hopex.Model.dll" />
            </Component>
            <Component Id="Macro.Hopex.WebService.dll" Guid="{BDC15D92-385B-45C5-AEAB-8FF1236EF06D}">
                <File Id="Macro.Hopex.WebService.dll" Name="Hopex.WebService.dll" Source="..\..\..\Exe$(var.Hopex.WebService.Configuration)\HOPEXGraphQL\Macro\Hopex.WebService.dll" />
            </Component>
            <Component Id="Macro.Mega.Macro.Wrapper.dll" Guid="{A256F223-D1B5-4FC7-AE32-F354DBA80780}">
                <File Id="Macro.Mega.Macro.Wrapper.dll" Name="Mega.Macro.Wrapper.dll" Source="..\..\..\Exe$(var.Hopex.WebService.Configuration)\HOPEXGraphQL\Macro\Mega.Macro.Wrapper.dll" />
            </Component>
            <Component Id="Macro.Microsoft.AspNetCore.Hosting.Abstractions.dll" Guid="{391EF6C2-3E91-45C9-B3BD-A2F07339DF6B}">
                <File Id="Macro.Microsoft.AspNetCore.Hosting.Abstractions.dll" Name="Microsoft.AspNetCore.Hosting.Abstractions.dll" Source="..\..\..\Exe$(var.Hopex.WebService.Configuration)\HOPEXGraphQL\Macro\Microsoft.AspNetCore.Hosting.Abstractions.dll" />
            </Component>
            <Component Id="Macro.Microsoft.AspNetCore.Hosting.Server.Abstractions.dll" Guid="{6D0D4C91-CDDD-4E4F-8D25-8D40CDDFCE95}">
                <File Id="Macro.Microsoft.AspNetCore.Hosting.Server.Abstractions.dll" Name="Microsoft.AspNetCore.Hosting.Server.Abstractions.dll" Source="..\..\..\Exe$(var.Hopex.WebService.Configuration)\HOPEXGraphQL\Macro\Microsoft.AspNetCore.Hosting.Server.Abstractions.dll" />
            </Component>
            <Component Id="Macro.Microsoft.AspNetCore.Http.Abstractions.dll" Guid="{40156128-BFDF-44B0-AF9F-6F715E9241B3}">
                <File Id="Macro.Microsoft.AspNetCore.Http.Abstractions.dll" Name="Microsoft.AspNetCore.Http.Abstractions.dll" Source="..\..\..\Exe$(var.Hopex.WebService.Configuration)\HOPEXGraphQL\Macro\Microsoft.AspNetCore.Http.Abstractions.dll" />
            </Component>
            <Component Id="Macro.Microsoft.AspNetCore.Http.Extensions.dll" Guid="{B9020595-0A10-4020-9F6F-2F9A92DBD26C}">
                <File Id="Macro.Microsoft.AspNetCore.Http.Extensions.dll" Name="Microsoft.AspNetCore.Http.Extensions.dll" Source="..\..\..\Exe$(var.Hopex.WebService.Configuration)\HOPEXGraphQL\Macro\Microsoft.AspNetCore.Http.Extensions.dll" />
            </Component>
            <Component Id="Macro.Microsoft.AspNetCore.Http.Features.dll" Guid="{4D61A8CB-800D-4B0B-B9F5-CA27F3EC66A1}">
                <File Id="Macro.Microsoft.AspNetCore.Http.Features.dll" Name="Microsoft.AspNetCore.Http.Features.dll" Source="..\..\..\Exe$(var.Hopex.WebService.Configuration)\HOPEXGraphQL\Macro\Microsoft.AspNetCore.Http.Features.dll" />
            </Component>
            <Component Id="Macro.Microsoft.AspNetCore.StaticFiles.dll" Guid="{D3D0982C-073A-4C71-ADD1-356482B1580D}">
                <File Id="Macro.Microsoft.AspNetCore.StaticFiles.dll" Name="Microsoft.AspNetCore.StaticFiles.dll" Source="..\..\..\Exe$(var.Hopex.WebService.Configuration)\HOPEXGraphQL\Macro\Microsoft.AspNetCore.StaticFiles.dll" />
            </Component>
            <Component Id="Macro.Microsoft.CSharp.dll" Guid="{DC6947FB-076D-4D12-9493-05B198A7B20E}">
                <File Id="Macro.Microsoft.CSharp.dll" Name="Microsoft.CSharp.dll" Source="..\..\..\Exe$(var.Hopex.WebService.Configuration)\HOPEXGraphQL\Macro\Microsoft.CSharp.dll" />
            </Component>
            <Component Id="Macro.Microsoft.Extensions.Configuration.Abstractions.dll" Guid="{EB3CAA6F-DDC3-4365-8864-4E08E724C8DA}">
                <File Id="Macro.Microsoft.Extensions.Configuration.Abstractions.dll" Name="Microsoft.Extensions.Configuration.Abstractions.dll" Source="..\..\..\Exe$(var.Hopex.WebService.Configuration)\HOPEXGraphQL\Macro\Microsoft.Extensions.Configuration.Abstractions.dll" />
            </Component>
            <Component Id="Macro.Microsoft.Extensions.DependencyInjection.Abstractions.dll" Guid="{5E0850A9-2777-447E-8E46-F1A1ABF1492D}">
                <File Id="Macro.Microsoft.Extensions.DependencyInjection.Abstractions.dll" Name="Microsoft.Extensions.DependencyInjection.Abstractions.dll" Source="..\..\..\Exe$(var.Hopex.WebService.Configuration)\HOPEXGraphQL\Macro\Microsoft.Extensions.DependencyInjection.Abstractions.dll" />
            </Component>
            <Component Id="Macro.Microsoft.Extensions.FileProviders.Abstractions.dll" Guid="{98574B16-44AE-4506-8625-F7222605949F}">
                <File Id="Macro.Microsoft.Extensions.FileProviders.Abstractions.dll" Name="Microsoft.Extensions.FileProviders.Abstractions.dll" Source="..\..\..\Exe$(var.Hopex.WebService.Configuration)\HOPEXGraphQL\Macro\Microsoft.Extensions.FileProviders.Abstractions.dll" />
            </Component>
            <Component Id="Macro.Microsoft.Extensions.Hosting.Abstractions.dll" Guid="{9305CFE3-1F10-4E8F-AC61-13E8CE23BFF5}">
                <File Id="Macro.Microsoft.Extensions.Hosting.Abstractions.dll" Name="Microsoft.Extensions.Hosting.Abstractions.dll" Source="..\..\..\Exe$(var.Hopex.WebService.Configuration)\HOPEXGraphQL\Macro\Microsoft.Extensions.Hosting.Abstractions.dll" />
            </Component>
            <Component Id="Macro.Microsoft.Extensions.Logging.Abstractions.dll" Guid="{0217E64B-35B6-4230-B263-63DE0995001A}">
                <File Id="Macro.Microsoft.Extensions.Logging.Abstractions.dll" Name="Microsoft.Extensions.Logging.Abstractions.dll" Source="..\..\..\Exe$(var.Hopex.WebService.Configuration)\HOPEXGraphQL\Macro\Microsoft.Extensions.Logging.Abstractions.dll" />
            </Component>
            <Component Id="Macro.Microsoft.Extensions.Options.dll" Guid="{9119F34B-F555-4D69-AE89-AE1F55E3B4AE}">
                <File Id="Macro.Microsoft.Extensions.Options.dll" Name="Microsoft.Extensions.Options.dll" Source="..\..\..\Exe$(var.Hopex.WebService.Configuration)\HOPEXGraphQL\Macro\Microsoft.Extensions.Options.dll" />
            </Component>
            <Component Id="Macro.Microsoft.Extensions.Primitives.dll" Guid="{EDFC0E43-2AEC-4D98-8650-F62861B7F6D0}">
                <File Id="Macro.Microsoft.Extensions.Primitives.dll" Name="Microsoft.Extensions.Primitives.dll" Source="..\..\..\Exe$(var.Hopex.WebService.Configuration)\HOPEXGraphQL\Macro\Microsoft.Extensions.Primitives.dll" />
            </Component>
            <Component Id="Macro.Microsoft.Extensions.WebEncoders.dll" Guid="{32FB8537-C4B1-4E7D-BC0E-ADAD23A1BBE5}">
                <File Id="Macro.Microsoft.Extensions.WebEncoders.dll" Name="Microsoft.Extensions.WebEncoders.dll" Source="..\..\..\Exe$(var.Hopex.WebService.Configuration)\HOPEXGraphQL\Macro\Microsoft.Extensions.WebEncoders.dll" />
            </Component>
            <Component Id="Macro.Microsoft.Net.Http.Headers.dll" Guid="{2CB600C2-26FA-4803-BAA1-F9A62C8E8ABA}">
                <File Id="Macro.Microsoft.Net.Http.Headers.dll" Name="Microsoft.Net.Http.Headers.dll" Source="..\..\..\Exe$(var.Hopex.WebService.Configuration)\HOPEXGraphQL\Macro\Microsoft.Net.Http.Headers.dll" />
            </Component>
            <Component Id="Macro.Newtonsoft.Json.dll" Guid="{4FCC379D-39BA-4325-AC46-750C974152D5}">
                <File Id="Macro.Newtonsoft.Json.dll" Name="Newtonsoft.Json.dll" Source="..\..\..\Exe$(var.Hopex.WebService.Configuration)\HOPEXGraphQL\Macro\Newtonsoft.Json.dll" />
            </Component>
            <Component Id="Macro.System.Buffers.dll" Guid="{F10E5D14-501C-48F5-8A60-FFC31EF706C0}">
                <File Id="Macro.System.Buffers.dll" Name="System.Buffers.dll" Source="..\..\..\Exe$(var.Hopex.WebService.Configuration)\HOPEXGraphQL\Macro\System.Buffers.dll" />
            </Component>
            <Component Id="Macro.System.ComponentModel.Annotations.dll" Guid="{BFB879BA-0266-4AA0-A915-E7864B6B1E12}">
                <File Id="Macro.System.ComponentModel.Annotations.dll" Name="System.ComponentModel.Annotations.dll" Source="..\..\..\Exe$(var.Hopex.WebService.Configuration)\HOPEXGraphQL\Macro\System.ComponentModel.Annotations.dll" />
            </Component>
            <Component Id="Macro.System.ComponentModel.dll" Guid="{2CBC778F-092A-488E-85B4-C191BDC0C5EC}">
                <File Id="Macro.System.ComponentModel.dll" Name="System.ComponentModel.dll" Source="..\..\..\Exe$(var.Hopex.WebService.Configuration)\HOPEXGraphQL\Macro\System.ComponentModel.dll" />
            </Component>
            <Component Id="Macro.System.Configuration.ConfigurationManager.dll" Guid="{B25FCC30-F820-4DBA-B9A0-43C2A221A05D}">
                <File Id="Macro.System.Configuration.ConfigurationManager.dll" Name="System.Configuration.ConfigurationManager.dll" Source="..\..\..\Exe$(var.Hopex.WebService.Configuration)\HOPEXGraphQL\Macro\System.Configuration.ConfigurationManager.dll" />
            </Component>
            <Component Id="Macro.System.Diagnostics.Contracts.dll" Guid="{A11C71B9-CB45-423B-9C4F-8E7E0320F859}">
                <File Id="Macro.System.Diagnostics.Contracts.dll" Name="System.Diagnostics.Contracts.dll" Source="..\..\..\Exe$(var.Hopex.WebService.Configuration)\HOPEXGraphQL\Macro\System.Diagnostics.Contracts.dll" />
            </Component>
            <Component Id="Macro.System.Dynamic.Runtime.dll" Guid="{D5701F47-D3EA-4B4E-AA45-9061F3893D53}">
                <File Id="Macro.System.Dynamic.Runtime.dll" Name="System.Dynamic.Runtime.dll" Source="..\..\..\Exe$(var.Hopex.WebService.Configuration)\HOPEXGraphQL\Macro\System.Dynamic.Runtime.dll" />
            </Component>
            <Component Id="Macro.System.Linq.dll" Guid="{E34E4442-4862-4604-B9A8-8F4FD9734D1B}">
                <File Id="Macro.System.Linq.dll" Name="System.Linq.dll" Source="..\..\..\Exe$(var.Hopex.WebService.Configuration)\HOPEXGraphQL\Macro\System.Linq.dll" />
            </Component>
            <Component Id="Macro.System.Linq.Expressions.dll" Guid="{6F840F91-8286-4C5A-914E-68C64844BEA1}">
                <File Id="Macro.System.Linq.Expressions.dll" Name="System.Linq.Expressions.dll" Source="..\..\..\Exe$(var.Hopex.WebService.Configuration)\HOPEXGraphQL\Macro\System.Linq.Expressions.dll" />
            </Component>
            <Component Id="Macro.System.Memory.dll" Guid="{D5E602A9-B218-4DE7-ABE2-907C3F070063}">
                <File Id="Macro.System.Memory.dll" Name="System.Memory.dll" Source="..\..\..\Exe$(var.Hopex.WebService.Configuration)\HOPEXGraphQL\Macro\System.Memory.dll" />
            </Component>
            <Component Id="Macro.System.Numerics.Vectors.dll" Guid="{E17BBFB9-C352-4D1C-AEF0-C9255B0B9F79}">
                <File Id="Macro.System.Numerics.Vectors.dll" Name="System.Numerics.Vectors.dll" Source="..\..\..\Exe$(var.Hopex.WebService.Configuration)\HOPEXGraphQL\Macro\System.Numerics.Vectors.dll" />
            </Component>
            <Component Id="Macro.System.ObjectModel.dll" Guid="{C88A2CF3-5D09-4252-A7B0-1A281083C77B}">
                <File Id="Macro.System.ObjectModel.dll" Name="System.ObjectModel.dll" Source="..\..\..\Exe$(var.Hopex.WebService.Configuration)\HOPEXGraphQL\Macro\System.ObjectModel.dll" />
            </Component>
            <Component Id="Macro.System.Reactive.Core.dll" Guid="{FA89A671-D125-4F5B-A1FA-31C12B6481DB}">
                <File Id="Macro.System.Reactive.Core.dll" Name="System.Reactive.Core.dll" Source="..\..\..\Exe$(var.Hopex.WebService.Configuration)\HOPEXGraphQL\Macro\System.Reactive.Core.dll" />
            </Component>
            <Component Id="Macro.System.Reactive.Interfaces.dll" Guid="{2C2D8554-4A46-494F-8C4C-5B342D7CFB5F}">
                <File Id="Macro.System.Reactive.Interfaces.dll" Name="System.Reactive.Interfaces.dll" Source="..\..\..\Exe$(var.Hopex.WebService.Configuration)\HOPEXGraphQL\Macro\System.Reactive.Interfaces.dll" />
            </Component>
            <Component Id="Macro.System.Reactive.Linq.dll" Guid="{06A5CE92-4CA4-4B34-9D0A-DAB955A604E0}">
                <File Id="Macro.System.Reactive.Linq.dll" Name="System.Reactive.Linq.dll" Source="..\..\..\Exe$(var.Hopex.WebService.Configuration)\HOPEXGraphQL\Macro\System.Reactive.Linq.dll" />
            </Component>
            <Component Id="Macro.System.Reflection.Emit.dll" Guid="{7E2A73D7-8F55-4C1E-8D92-E3A1A90CE940}">
                <File Id="Macro.System.Reflection.Emit.dll" Name="System.Reflection.Emit.dll" Source="..\..\..\Exe$(var.Hopex.WebService.Configuration)\HOPEXGraphQL\Macro\System.Reflection.Emit.dll" />
            </Component>
            <Component Id="Macro.System.Reflection.Emit.ILGeneration.dll" Guid="{FA801C96-355E-4BD0-B857-5EB2A58EA8FF}">
                <File Id="Macro.System.Reflection.Emit.ILGeneration.dll" Name="System.Reflection.Emit.ILGeneration.dll" Source="..\..\..\Exe$(var.Hopex.WebService.Configuration)\HOPEXGraphQL\Macro\System.Reflection.Emit.ILGeneration.dll" />
            </Component>
            <Component Id="Macro.System.Reflection.Emit.Lightweight.dll" Guid="{706E6352-B3F9-4142-98D3-B8C0170A006C}">
                <File Id="Macro.System.Reflection.Emit.Lightweight.dll" Name="System.Reflection.Emit.Lightweight.dll" Source="..\..\..\Exe$(var.Hopex.WebService.Configuration)\HOPEXGraphQL\Macro\System.Reflection.Emit.Lightweight.dll" />
            </Component>
            <Component Id="Macro.System.Reflection.TypeExtensions.dll" Guid="{EEBBE963-4C44-4CDF-A9CB-D5F7DB4CA89F}">
                <File Id="Macro.System.Reflection.TypeExtensions.dll" Name="System.Reflection.TypeExtensions.dll" Source="..\..\..\Exe$(var.Hopex.WebService.Configuration)\HOPEXGraphQL\Macro\System.Reflection.TypeExtensions.dll" />
            </Component>
            <Component Id="Macro.System.Runtime.Caching.dll" Guid="{EBB0A051-E72C-484C-A44C-072A395AE76C}">
                <File Id="Macro.System.Runtime.Caching.dll" Name="System.Runtime.Caching.dll" Source="..\..\..\Exe$(var.Hopex.WebService.Configuration)\HOPEXGraphQL\Macro\System.Runtime.Caching.dll" />
            </Component>
            <Component Id="Macro.System.Runtime.CompilerServices.Unsafe.dll" Guid="{6A2C05DE-B753-4CBA-8C7C-46E786190559}">
                <File Id="Macro.System.Runtime.CompilerServices.Unsafe.dll" Name="System.Runtime.CompilerServices.Unsafe.dll" Source="..\..\..\Exe$(var.Hopex.WebService.Configuration)\HOPEXGraphQL\Macro\System.Runtime.CompilerServices.Unsafe.dll" />
            </Component>
            <Component Id="Macro.System.Runtime.InteropServices.WindowsRuntime.dll" Guid="{4BF119D6-7301-459B-939A-0901C36481F5}">
                <File Id="Macro.System.Runtime.InteropServices.WindowsRuntime.dll" Name="System.Runtime.InteropServices.WindowsRuntime.dll" Source="..\..\..\Exe$(var.Hopex.WebService.Configuration)\HOPEXGraphQL\Macro\System.Runtime.InteropServices.WindowsRuntime.dll" />
            </Component>
            <Component Id="Macro.System.Security.AccessControl.dll" Guid="{14D163DC-136C-4D14-802D-B68E750FC655}">
                <File Id="Macro.System.Security.AccessControl.dll" Name="System.Security.AccessControl.dll" Source="..\..\..\Exe$(var.Hopex.WebService.Configuration)\HOPEXGraphQL\Macro\System.Security.AccessControl.dll" />
            </Component>
            <Component Id="Macro.System.Security.Cryptography.ProtectedData.dll" Guid="{9675F7FF-15D1-4DCD-8C1E-BEAFC56C83EB}">
                <File Id="Macro.System.Security.Cryptography.ProtectedData.dll" Name="System.Security.Cryptography.ProtectedData.dll" Source="..\..\..\Exe$(var.Hopex.WebService.Configuration)\HOPEXGraphQL\Macro\System.Security.Cryptography.ProtectedData.dll" />
            </Component>
            <Component Id="Macro.System.Security.Permissions.dll" Guid="{1E613D8B-DAFD-49A9-B3C7-C06226A13518}">
                <File Id="Macro.System.Security.Permissions.dll" Name="System.Security.Permissions.dll" Source="..\..\..\Exe$(var.Hopex.WebService.Configuration)\HOPEXGraphQL\Macro\System.Security.Permissions.dll" />
            </Component>
            <Component Id="Macro.System.Security.Principal.Windows.dll" Guid="{17B54493-8E5E-4EAA-9643-8E4C5A7A888F}">
                <File Id="Macro.System.Security.Principal.Windows.dll" Name="System.Security.Principal.Windows.dll" Source="..\..\..\Exe$(var.Hopex.WebService.Configuration)\HOPEXGraphQL\Macro\System.Security.Principal.Windows.dll" />
            </Component>
            <Component Id="Macro.System.Text.Encodings.Web.dll" Guid="{F0DED28B-95A2-4058-86C6-81B378E634FD}">
                <File Id="Macro.System.Text.Encodings.Web.dll" Name="System.Text.Encodings.Web.dll" Source="..\..\..\Exe$(var.Hopex.WebService.Configuration)\HOPEXGraphQL\Macro\System.Text.Encodings.Web.dll" />
            </Component>
            <Component Id="Macro.System.Threading.dll" Guid="{4A448BA5-3F20-4F31-8C8C-8D927DD6D69C}">
                <File Id="Macro.System.Threading.dll" Name="System.Threading.dll" Source="..\..\..\Exe$(var.Hopex.WebService.Configuration)\HOPEXGraphQL\Macro\System.Threading.dll" />
            </Component>
        </ComponentGroup>

    </Fragment>

</Wix>
