<appSettings>
    <add key="Host" value="w-jmv-new:5003"/>
    <add key="DBType" value="SQLSERVER"/>
    <add key="DBServer" value="W-JMV-NEW\SQLEXPRESS"/>
    <add key="DBUser" value="sa"/>
    <add key="DBPassword" value="Has2k21!"/>
    <add key="RequesterType" value="ApiKey"/>
    <add key="ApiKeyAdmin" value="52tErEESuvdHSvaVc2R9JyAquQq3caYyYdshqcWWWRKp1aq8MmVV8yGKUKEkNopzPc"/>
</appSettings>
